<div class="card-client">
  <div>
    <%= image_tag client.image %>
  </div>
  <div>
    <ul>
      <h2>
        <%= client.civilite %>
        <% client_array = client.prenom.split('-') %>
        <% client_array.each do |f| %>
          <% f.capitalize! %>
        <% end %>
        <%= prenom_ok = client_array.join('-') %>
        <%= client.nom.capitalize %>
      </h2>
      <div>
        <p><%= client.statut_marital %></p>
        <p>Nbr de parts fiscales: <%= client.parts_fiscales %></p>
      </div>
    </ul>
  </div>

</div>

