<div class="container-bouton">
  <%= link_to "Retour", "selections_path", class: "btn btn-actable" %>
</div>
<div class="container-comparaison">
  
  <% @selections.each do |selection| %>

  <%# Début de la card  %>
  <div class="card-category-comparaison">
    <div class="flex-titre">
      <div class="img-card-compare"></div>
      <div class="card-category-top-infos">
        <h2><%= selection.appartement.nom_programme %></h2>
        <p>Location</p>
      </div>
      <a href="" data-toggle="collapse" data-target="#scoring-financier,#scoring-immobilier,#scoring-emplacement" aria-expanded="false" aria-controls="multiCollapseExample2">Déplier</a>
    
    </div>

    <div class="row-comparaison collapsed" data-toggle="collapse" data-target="#scoring-financier" aria-expanded="false" aria-controls="multiCollapseExample2">
      <div class="card-h3">
        <h3>Scoring financier</h3>
      </div>
      <div class="stars" id="first-stars">
        <p>
          <% selection.appartement.scoring_prix.times do |i| %>
          <i class="fas fa-star"></i>
          <% end %>
          <% (5 - selection.appartement.scoring_prix).times do |i| %>
          <i class="far fa-star"></i>
          <% end %>
        </p>
        <!-- <i class="fas fa-star-half-alt"></i> -->
      </div>
      <%= image_tag "chevron-right.svg", alt: "chevron", class: "chevron" %>
    </div>

    <div class="collapse" id="scoring-financier">
      <div class="scoring">
        <div class="scoring-text">
          <p>Prix au m2</p>
          <p>Rendement locatif</p>
          <p>Potentiel de plus-value</p>
        </div>
        <div class="real-stars">
          <p id="text-card">
            <%= selection.appartement.scoring_prix %><span>/5</span></%>
          </p>
          <p id="text-card">
            <%= selection.appartement.scoring_rendement %><span>/5</span></%>
          </p>
          <p id="text-card">
            <%= selection.appartement.scoring_potentiel %><span>/5</span></%>
          </p>
        </div>
      </div>
    </div>

    <%# Scoring immobilier  %>
    <div class="row-comparaison collapsed" data-toggle="collapse" data-target="#scoring-immobilier" aria-expanded="false" aria-controls="multiCollapseExample2">
      <div class="card-h3">
        <h3>Scoring immobilier</h3>
      </div>
      <div class="stars">
        <p>
          <% selection.appartement.scoring_prix.times do |i| %>
          <i class="fas fa-star"></i>
          <% end %>
          <% (5 - selection.appartement.scoring_prix).times do |i| %>
          <i class="far fa-star"></i>
          <% end %>
        </p>
        <!-- <i class="fas fa-star-half-alt"></i> -->
      </div>
      <%= image_tag "chevron-right.svg", alt: "chevron", class: "chevron" %>
    </div>

    <div class="collapse" id="scoring-immobilier">
      <div class="scoring">
        <div class="scoring-text">
          <p>Perf Energétique</p>
          <p>Qualité du bâti</p>
          <p>Aménagement intérieur</p>
        </div>
        <div class="real-stars">
          <p id="text-card">
            <%= selection.appartement.scoring_energie %><span class="bg-white">/5</span></%>
          </p>
          <p id="text-card">
            <%= selection.appartement.scoring_qualite %><span>/5</span></%>
          </p>
          <p id="text-card">
            <%= selection.appartement.scoring_amenagement %><span>/5</span></%>
          </p>
        </div>
      </div>
    </div>
    <%# Fin Scoring immobilier  %>

    <%# Scoring emplacement  %>
    <div class="row-comparaison collapsed" data-toggle="collapse" data-target="#scoring-emplacement" aria-expanded="false" aria-controls="multiCollapseExample2">
      <div class="card-h3">
        <h3>Scoring emplacement</h3>
      </div>
      <div class="stars" id="last-stars">
        <p>
          <% selection.appartement.scoring_prix.times do |i| %>
          <i class="fas fa-star"></i>
          <% end %>
          <% (5 - selection.appartement.scoring_prix).times do |i| %>
          <i class="far fa-star"></i>
          <% end %>
        </p>
        <!-- <i class="fas fa-star-half-alt"></i> -->
      </div>
      <%= image_tag "chevron-right.svg", alt: "chevron", class: "chevron" %>
    </div>

    <div class="collapse" id="scoring-emplacement">
      <div class="scoring">
        <div class="scoring-text">
          <p>Dynamisme local</p>
          <p>Aménités</p>
          <p>Accessibilité</p>
          <p>Equipements collectifs</p>
        </div>
        <div class="real-stars">
          <p id="text-card">
            <%= selection.appartement.scoring_dynamisme %><span>/5</span></%>
          </p>
          <p id="text-card">
            <%= selection.appartement.scoring_amenites %><span>/5</span></%>
          </p>
          <p id="text-card">
            <%= selection.appartement.scoring_accessibilite %><span>/5</span></%>
          </p>
          <p id="text-card">
            <%= selection.appartement.scoring_equipements %><span>/5</span></%>
          </p>
        </div>
      </div>
    </div>
    <%# Fin Scoring emplacement  %>


</div> <%#fin de la card  %>
    
  <% end %>
</div>




