<div class="card-product-main-infos">
  <div class='card-content'>
    <%#= image_tag "nexity-logo.png", class:"img-card" %>
    <div class="d-flex mb-1">
      <h1><%= appartement.nom_programme %></h1>
      <div class="tag actable">Actable</div>
    </div>
    <h2><i class="fas fa-map-marker-alt"></i> <%= appartement.ville %>(<%= appartement.departement %>)</h2>
    <h2><strong><%= appartement.prix/1000 %>K€</strong></h2>
    <div class="card-product-details-info">
      <table class="table-card" width='100%'>
        <thead>
          <tr>
            <th>Lot</th>
            <th>Etage</th>
            <th>Piece(s)</th>
            <th>Livraison</th>
          </tr>
        </thead>
        <tbody>
          <tr>
           <td><%= appartement.lot %></td>
           <td><%= appartement.etage %></td>
           <td><%= appartement.typologie %></td>
           <td><%= appartement.livraison %></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="map-card">
      <%= link_to "" do %>
        <i class="fas fa-map">Voir les plans</i>
      <% end %>
    </div>
  </div>
</div>

<!-- <div class="row title">
  <div class="col-3">Lot</div>
  <div class="col-3">Etage</div>
  <div class="col-3">Pièce(s)</div>
  <div class="col-3">Livraison</div>
</div>
<div class="row content">
  <div class="col-3"><%= appartement.lot %></div>
  <div class="col-3"><%= appartement.etage %></div>
  <div class="col-3"><%= appartement.typologie %></div>
  <div class="col-3"><%= appartement.livraison %></div>
</div> -->
