<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/<%= appartement.nom_programme%>');" data-appartement-id="<%= appartement.id %>">
  <h2><%= appartement.nom_programme %></h2>
  <h3><%= appartement.promoteur  %></h3>
  <p><%= appartement.ville %></p>
  <p><%= appartement.prix %>€</p>
</div>

